h4,textarea,label,input{
  letter-spacing:0.5px;
  font-weight:bolder;
  font-family:'JF Flat';
  font-size:1.1rem;
  margin-top: -2px;
  margin-bottom: 10px;
  text-align: left;

}
.container{
  margin-left:15%;
}
.multiselect-dropdown{

      position: relative;
      width: 50%;
      font-size: inherit;
      font-family: inherit;
}
